<div class="container h-screen overflow-hidden mx-auto">
  <div class="w-full p-12 my-12 rounded-xl shadow-xl bg-indigo-800 text-white">
    <p class="text-4xl font-bold">{{'these are the most popular jobs' | titlecase}}</p>
    <span class="text-xl">{{'each job with the corresponding number of requests' | titlecase}}</span>
  </div>
  <div class="w-full h-2/3 rounded-xl overflow-auto shadow-xl">
    <div class="flex px-8 py-8 bg-white border-b">
      <div class="w-1/2 text-center">
        <span class="2xl:font-bold">Job</span>
      </div>
      <div class="border-l-2 text-center w-1/2">
        <span class="2xl:font-bold">Count</span>
      </div>
    </div>
    <div *ngFor="let key of keys;let i = index" class="flex px-8 py-8 bg-white">
      <div class="w-1/2 text-center">
        <span>{{key}}</span>
      </div>
      <div class="border-l-2 text-center w-1/2">
        <span>{{values[i]}}</span>
      </div>
    </div>
  </div>
</div>
